<!--Copyright-->
<footer class="footer">
    <div class="copyright">
      <div class="inside-container">
        <div class="row">
          <div class="col-md-6 order-2 order-md-12">
            <p>&copy; 2019 All Rights Reserved. Created by <a href="https://www.webdomus.net/" class="created-by">Web Domus Italia</a></p>
          </div>
          <div class="col-md-6 social order-1 order-md-12">                
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>