<!--Banner section-->
<div class="banner">
    <div class="banner-overlay"></div>
    <div class="inside-container top-bar">
      <div class="row">          
        <div class="col-md-4 logo order-1 order-md-12">
            <img class="logo-img" src="assets/img/logo1.png" alt="">
          </div> 
        <div class="col-md-4 top-bar-left order-2 order-md-12">
          <i class="fas fa-envelope-open-text"></i> 
          <a href="mailto:info@webdomus.net">info&#64;webdomus.net</a>
        </div> 
        <div class="col-md-4 top-bar-right order-3 order-md-12">
          <i class="fas fa-phone-alt"></i> 
          <a href="tel:+39.0874.484661">+39.0874.484661</a>
        </div>       
      </div>      
    </div>
    <div class="inside-container banner-content">
      <div class="row">
        <div class="col-12 content-col">
          <h1 class="site-title">Be peaceful in mind and healthy in Body!</h1>
          <p class="site-title-desc">At solmen va esser necessi fa uniform grammatica, pronunciation plu sommun paroles.</p>
          <a class="banner-btn" href="#">Join us now</a>
        </div>
      </div>
    </div>
  </div>